<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Equipamentos</h3>
            <div class="col-md-6" style="display:inline-block">
                <input class="form-control" type="text" name="search" [(ngModel)]="termFilter" placeholder="Procurar" />
            </div>
            <button (click)="Novo()" class="btn btn-info " style="margin-left: 10px;float: right;">Novo</button>
        
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>TIPO</th>
                        <th>MARCA</th>
                        <th>MODELO</th>
                        <th>NUMERO SERIE</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consultaEquipamento of consultaEquipamentos| filter:termFilter | paginate:{ itemsPerPage:4, currentPage:paginaAtual};let i =index" class="text-center">
                        <td>{{consultaEquipamento.id}}</td>
                        <td>{{consultaEquipamento.tipo}}</td>
                        <td>{{consultaEquipamento.marca}}</td>
                        <td>{{consultaEquipamento.modelo}}</td>
                        <td>{{consultaEquipamento.numeroSerie}}</td>
                        <td>
                            <button (click)="Editar(consultaEquipamento)" class="btn btn-outline-info">Editar</button>
                            <button (click)="Delete(consultaEquipamento)" class="btn btn-outline-danger" style="margin-left: 10px;">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="paginaAtual=$event" previousLabel="Anterior" nextLabel="Próximo" style="text-align: center;"></pagination-controls>
        </div>
    </div>
</div>