
<div class="painel">
  <img src="../assets/logo2.png" alt="sat" id="logotipo" >
  <h1 id="titulo">
    Projeto Inventário
  </h1>
</div>
<div class="container" style="text-align:center;margin-top: 20px;">
</div>
<router-outlet></router-outlet>
