/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(6,72,116);
    font-family:'Goldplay';
}
.painel{
   /*background-color: rgb(39,181,122);*/
   background-color: white;
   text-align:center; 
   width: 100%;
   height: 150px;
   font-family:'Goldplay';
}
#logotipo{
    position:absolute;
    float: left;
	left:10px;
    top: 20px;
}
#titulo{
    line-height: 150px;
}