<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Adicionar Equipamentos</h3>
        </div>
        <div class="card-body">
            <form #f="ngForm" action="">
                <div class="form-group">
                    <label for="">Tipo:</label>
                    <select [(ngModel)]="equipamento.tipo" name="tipo" class="form-control" required>
                        <option value={{tipo.id}} *ngFor="let tipo of tipos" >{{tipo.tipo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Marca:</label>
                    <select [(ngModel)]="equipamento.marca" name="marca" class="form-control" required>
                        <option value={{marca.id}} *ngFor="let marca of marcas" >{{marca.marca}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Modelo:</label>
                    <select [(ngModel)]="equipamento.modelo" name="modelo" class="form-control" required>
                        <option value={{modelo.id}} *ngFor="let modelo of modelos" >{{modelo.modelo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Numero Serie:</label>
                    <input [(ngModel)]="equipamento.numeroSerie" name="numeroSerie" type="text" class="form-control" required>
                </div>
            </form>
        </div>
        <div style="display: inline-block;margin: 15px 15px;">
            <button (click)="Salvar()" class="btn btn-info" [disabled]="!f.valid">Salvar</button>
            <button (click)="Listar()" class="btn btn-danger" style="float: right;">Cancelar</button>
        </div>
    </div>
</div>
